In this worksheet, I'm going to try wading through one-hot encoding, to move from categorial variables to numerical ones. The scikit-learn algorithms all want numerical rather than categorical inputs, but simply changing the categories to numbers can be misleading.

I learned things from https://www.kaggle.com/anaskad/step-by-step-solving-titanic-problem, https://datascienceplus.com/would-you-survive-the-titanic-getting-started-in-python/, and elsewhere.

I left in almost all my mistakes, and freely admit it's not a very good analysis. The point was more to explore one-hot encoding than the Titanic!

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%pylab inline
pd.set_option('max_rows', 15) # limits display of rows I guess?

ImportError: No module named 'seaborn'

In [2]:
titanicData = pd.read_csv('/Users/kaisa/Downloads/titanic_data.csv')

In [3]:
titanicData.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanicData.shape

(891, 12)

In [9]:
titanicData.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
# let's limit to categorical types for this tutorial
# https://www.ritchieng.com/machinelearning-one-hot-encoding/
X = titanicData.select_dtypes(include=[object])

In [11]:
from sklearn import preprocessing

X.columns

In [12]:
# let's drop name for now
X=X.drop('Name',axis=1)

ValueError: labels ['Name'] not contained in axis

In [13]:
# let's drop name for now
X.columns

Index(['Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [14]:
le = preprocessing.LabelEncoder()
X_2 = X.apply(le.fit_transform)
X_2.head()

TypeError: ('unorderable types: float() > str()', 'occurred at index Cabin')

Having NaNs makes this not work. Let's use factorize.

In [18]:
X['Cabin'] = X['Cabin'].factorize()[0] 
X['Embarked'] = X['Embarked'].factorize()[0]

In [19]:
le = preprocessing.LabelEncoder()
X_2 = X.apply(le.fit_transform)
X_2.head()

   Sex  Ticket  Cabin  Embarked
0    1     523      0         1
1    0     596      1         2
2    0     669      0         1
3    0      49      2         1
4    1     472      0         1

In [21]:
#Try what Ritchie Ng suggests at https://www.ritchieng.com/machinelearning-one-hot-encoding/

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(X_2)

# 3. Transform
onehotlabels = enc.transform(X_2).toarray()
onehotlabels.shape

(891, 835)

In [22]:
# ours is smaller because we left out name.

 Can we apply SVM? or decision tree?

In [23]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

Need to join features and labels again

In [26]:
X_2.head()

   Sex  Ticket  Cabin  Embarked
0    1     523      0         1
1    0     596      1         2
2    0     669      0         1
3    0      49      2         1
4    1     472      0         1

In [36]:
X_2['Passenger_Id'] = range(1, len(X_2) + 1)
X_2.head()

   Sex  Ticket  Cabin  Embarked  Passenger_Id
0    1     523      0         1             1
1    0     596      1         2             2
2    0     669      0         1             3
3    0      49      2         1             4
4    1     472      0         1             5

In [43]:
joined_data = X_2.join(titanicData[['Survived', 'Pclass', 'Age', 'SibSp',
       'Parch', 'Fare']],"Passenger_Id")
# This is not one-hot-encoded. Hm.

In [42]:
onehotlabels[:,1]

array([ 1.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,
        1.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,
        1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,
        0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,
        1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,
        1.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,
        1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,
        1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,
        0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,
        1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,
        0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,
        0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,
        1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,
        0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,
        1.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,
        0.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,
        0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,
        1.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,
        1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,
        1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,
        1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,
        0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,
        1.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,
        1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,
        1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,
        0.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,
        0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
        0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,
        0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,
        1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,
        0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,
        1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,
        1.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,
        1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,
        1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,
        1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        0.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,
        0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,
        1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,
        1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,
        1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,
        0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,
        0.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,
        0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,
        1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,
        1.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,
        1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,
        1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,
        1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,
        0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,
        0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,
        1.,  0.,  1.,  0.,  0.,  1.,  1.])

In [48]:
#onehotlabels['Passenger_Id'] = range(1, len(onehotlabels) + 1)
#joined_onehot = onehotlabels.join(titanicData[['Survived', 'Pclass', 'Age', 'SibSp',
#       'Parch', 'Fare']],"Passenger_Id")
# This is not one-hot-encoded. Hm.
onehotlabels.type

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [63]:
titanicData["Survived"][1:700]

1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
30     0
      ..
670    1
671    0
672    0
673    1
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    0
687    0
688    0
689    1
690    1
691    1
692    1
693    0
694    0
695    0
696    0
697    1
698    0
699    0
Name: Survived, dtype: int64

In [52]:
X=onehotlabels[1:700,:]
y=titanicData["Survived"][1:700,]

In [53]:
clf=clf.fit(X,y)

In [54]:
from sklearn.metrics import accuracy_score

In [56]:
onehotlabels[701:891,:]

array([[ 0.,  1.,  0., ...,  1.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  1.],
       ...,
       [ 1.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  1.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  1.]])

In [64]:
#titanicData["Survived"][701:891]
pred = clf.predict(onehotlabels[701:891,:])

In [72]:
accuracy_score(pred,titanicData["Survived"][701:891])

0.83157894736842108

yay! we did it!

How about using support vector machines instead?

In [68]:
from sklearn.svm import SVC
clf_svc = SVC()
clf_svc=clf_svc.fit(X, y)

In [75]:
pred_svc=clf_svc.predict(onehotlabels[701:891,:])

In [76]:
accuracy_score(pred_svc, titanicData["Survived"][701:891])

0.63157894736842102

Wow, SVC is a lot worse. Wow. Wonder why....?

This wasn't the best testing setup, as I just chose the first 700 records for training and the last 190 for training. Let's try to use train_test_split from sklearn.

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(onehotlabels, titanicData["Survived"], test_size=0.33, random_state=42)

In [79]:
# Re-run SVC
clf_svc = SVC()
clf_svc=clf_svc.fit(X_train, y_train)
pred_svc=clf_svc.predict(X_test)
accuracy_score(pred_svc, y_test)

0.59322033898305082

In [81]:
clf = tree.DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)
pred=clf.predict(X_test)
accuracy_score(pred, y_test)

0.8067796610169492

More ideas:
* use get_dummies
* use binary
* I didn't use the non-categorical stuff here, so should add that in
* Use Random Forests

In [84]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 100)
rfc.fit(X_train, y_train)
pred_rfc = rfc.predict(X_test)
accuracy_score(pred_rfc,y_test)
# Score / Metrics
#accuracy = rfc.score(X_test, y_test)

0.81016949152542372

Will the graphviz visualization work here at all?

In [88]:
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("Titanic")
# this writes a file called Titanic.pdf
# hard to understand as there are so many variables....

'Titanic.pdf'